@import "../../styles/common";

.button {
  width: 133px;
  height: 40px;
  background-color: $main-purple;
  color: white;
  border-radius: 15px;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;

  &.white-button {
    background-color: white;
    border: 2px solid $gray;
    color: $black;
  }
}
