@import "../../styles/common";

section {
  min-width: 1050px;

  .teacher-position {
    width: 1050px;
    margin: 0 auto;
    padding: 50px 40px;

    .teacher-position-top {
      .today-students-position--class {
        display: flex;
        gap: 9px;

        .today-students-position--class-class {
          font-size: 20px;
          font-weight: 400;
          cursor: pointer;
          &.active {
            color: $main-purple;
            text-decoration-line: underline;
            font-weight: 500;
          }
        }
      }
    }
    .today-students-position--position {
      padding-top: 40px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 22px 18px;
      padding-bottom: 60px;
    }
  }
}
