$main-purple: #9B5DE5;
$pink: #F15BB5;
$yellow: #FEE440;
$strange-green: #1FE1C7;
$blue: #00BBF9;
$gray: #EAEAEA;
$black: #606060;
$dark-black: #323232;
$background-purple: #F0E7FB;
$checked-purple: #D5B1FF;
