@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import "styles/common";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  color: $black;
  background-color: white;
}

section {
  width: 100vw;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $black;
}

button {
  cursor: pointer;
}

.purple-background {
  background-color: $background-purple;
}
